:root {
    --text-color: black;
    --primary-color: rgb(34, 34, 34);
    --base-variant: #e0e0e0; 
    --background-color: white;
    --btn-bg: #dfdfdf;
    --btn-text: #1e293b;
    --btn-border: #707070;
    --btn-hover: #747474;
}

.dark-mode {
    background-color: rgb(34, 34, 34);
    --text-color: white; 
    --primary-color: #ffffff;
    --base-variant: #222222; 
    --btn-bg: #161616;         
    --btn-text: #f8fafc;       
    --btn-border: #666666;     
    --btn-hover: #717274;  
}

.clicks-up {
    color: var(--text-color); 
}

body {
  text-align: center;
  box-sizing: border-box;
}

* {
  outline: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}
#theme-switch svg path {
  fill: var(--primary-color) !important;
}
#theme-switch svg:last-child {
  display: none;
}
.dark-mode #theme-switch svg:first-child {
  display: none;
}
.dark-mode #theme-switch svg:last-child {
  display: block;
}

#navigateButtons a {
    display: inline-block;
    padding: 8px 24px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.2s ease, color 0.2s ease;
    
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: 2px solid var(--btn-border);
    cursor: pointer;

    justify-content: center;
    gap: 12px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

#navigateButtons a:hover {
    background-color: var(--btn-hover);
}

#clickMenu a, #upgradeMenu a {
    display: inline-block;
    padding: 10px 24px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.2s ease, color 0.2s ease;
    
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: 2px solid var(--btn-border);
    cursor: pointer;
    
    margin-left: 14px; 
}

#clickMenu a:hover, #upgradeMenu a:hover {
    background-color: var(--btn-hover);
}